.introContainer{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $background-color;
    
    color: $main-color;
    font-size: 25px;

    position: relative;

    padding: 0.5em;


    overflow-y: scroll;
    overflow-anchor: none;

    .promptTextContainer{
        margin-top: 0.5em;
        padding-left: 1.5em;
        padding-right: 1em;
        position: relative;
    }

    .introInput{
        height: 25px;

        font-size: 25px;
        color: $main-color;
        caret-color: $main-color;

        background-color: transparent;
        border: none;

        text-transform: uppercase;

        &.startInput{
            margin-bottom: 45px;
        }
    }

    .Typewriter{
        display: inline-block;
        margin-bottom: 1em;

        &::before{
            content: '>';
            position: absolute;
            top: 0;
            left: 0.5em;
        }
    }

    .promptText::before{
        content: '>';
        position: absolute;
            top: 0;
            left: 0.5em;
    }
}