.screenLoadingContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .loadingBarContainer{
        border: 2px solid $main-color;
        width: 150px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px;
    
        box-sizing: border-box;
    
        box-shadow: 0 0 20px 2px $main-color;
        .loaderPart{
            width: 15px;
            
            &.active{
                background-color: $main-color;
            }
        }
    }

    p{
        color: $main-color;
        font-weight: 700;
        text-align: center;
        margin: 0;
        padding-top: 5px;

        text-transform: uppercase;
    }
}

