.timer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,-100%);


    .timer{
        color: $main-color;
        font-family: $font-family;
        font-size: 26px;
        font-weight: bold;
        margin: 0;
        padding: 0.5em 1em;

        border: $main-color 4px solid;
    }

}